@font-face {
    font-family: Joan;
    src: url(./Joan-Regular.ttf);
}
@font-face {
    font-family: Kantumruy-Pro;
    src: url(./KantumruyPro-VariableFont_wght.ttf);
}

:root{
/* Color palette */
--background-color: #52489cff;
--main-text-color: #000000;
--main-title-color: #FFFFFF;
/*               */

margin-left:485px;
margin-right:485px;
}

#Head{
    font-family: Joan, serif;
    color:var(--main-title-color);
    background-color: var(--background-color);
    display: flex;
    flex-flow: row;
}

#myPicture{
    width: 147.92px;
    height: 168.4px;
}

#VerticalLine{ /* Draws a vertical line */
    border-left: 1px solid white;
    height: 128px;
    position: relative;
    margin-left: 20px;
    margin-top: 20.2px;
}

#RelevantInfo{
    margin-left: 20px;
    margin-top: -40px;
}

.HeadTitle{
    font-size: 36pt;
    margin-bottom: 0;
}

.HeadText{
    font-size: 16pt;
    margin-bottom: 0;
    margin-top: 0;
}

#Body{
    margin-left: 40px;
    margin-right: 40px;
}

.block{
    margin-top: 20px;
    margin-bottom: 20px;
}

.BodyTitle{
    font-family: Joan, serif;
    font-size: 28pt;
    color: var(--main-title-color);
    background-color: var(--background-color);
    text-align: center;
    padding-top: 1.2px;
    padding-bottom: 1.2px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.BodyText{
    font-family: Kantumruy-Pro, sans-serif;
    font-size: 20pt;
    color: var(--main-text-color);
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
}

em{
    color: var(--background-color);
    font-weight: 450;
    font-style: normal;
}
